.day-card {
  background: #FFFFFF;
  box-shadow: 1px 0 4px grey;
  flex-basis: 200px;
  height: 300px;
  margin: 30px 1.5%;

  transition: 1.5s linear;

  /* flex container properties */
  display: flex;
  flex-direction: column;
}