.day-card__content {
  color: #90A4AE;
  box-shadow: 0 -.5px 1px grey;
  flex-basis: 40%;
  font-family: 'Roboto', sans-serif;
  transition: .25s ease all;

  /* flex container properties */
  display: flex;
  flex-direction: column;
}